

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">MY ANGULAR APP</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home" >HOME <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/book" >BOOK</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard" >DASHBOARD</a>
      </li>
    </ul>

  </div>
</nav>
<br>
<!-- {{ title }} -->


<!-- <button type="button" class="btn btn-primary" [disabled]="disabled" style="margin: 20px;" (click)='onClickBtn()'>
  Single Button
</button> -->

<!-- <alert type="success">hello</alert> -->

<!-- <input type="text" [(ngModel)]="name">
{{name}} -->

<!-- [Class.age-15]="(item.age > 15)" -->
<!-- [style.color]="(item.age > 15)? 'red': 'green'" -->
<!-- [ngClass]="(item.age > 15)? : 'age-15': 'age-17'" -->

<!-- <ng-container *ngIf="checkList()">
  <div [ngStyle]="{'color': item.age>15 ? 'red': 'green'}" *ngFor="let item of list"
    [ngClass]="{'age-15': (item.age > 15 )}">
    {{item.name}} - {{item.age}}
  </div>
</ng-container> -->

<!-- <app-home></app-home> -->

<!-- <app-book-list></app-book-list> -->

<router-outlet></router-outlet>
